.content {
    display: none;
}

#userInput {
    padding: 10px;
    width: 300px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
}

.urlInput {
    margin-top: 50px;
    text-align: center;
}