<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="styles.css">
    <script src="script.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <nav>
          <ul>
            <li><a id="shortenURL">Shorten URL</a></li>
            <li><a id="qrGenerator">QR Generator</a></li>
            <li><a id="history">History</a></li>
          </ul>
        </nav>
      </header>
    
    <main>
        <div id="shortenURLContent" class="content">
            <h2>Shorten your link fastly</h2>
            <div class="urlInput">
                <form id="submitForm" action="http://127.0.0.1:5500/process" method="GET" class="formLinkInput">
                    <input type="text" name="link" class="linkInput" id="url" placeholder="Enter your URL here...">
                    <input type="submit" id="submitUrlButton" class="linkButton" value="Enter">
                </form>
            </div>
            <div class="urlOutput">
                <div class="shortenedLink">
                    <p>Your shortened link: <a href="#" id="shortenedLink" target="_blank"></a></p>
                    <div class="logo">
                        <icon class="copy-logo" id="copy-logo"><i class='bx bx-copy'></i></icon>
                        <icon class="qr-logo" id="qr-logo"><i class='bx bx-qr'></i></icon>
                        <icon class="close-logo" id="close-logo"><i class='bx bx-x'></i></icon></div>
                    <a href="#" id="unshortenedLink" target="_blank"></a>
                </div>
            </div>
        </div>

        <div id="qrGeneratorContent" class="content">
            <h2>QR code generator</h2>
        </div>

        <div id="historyContent" class="content">
            <h2>Your history</h2>
        </div>
    </main>
</body>
</html>
