/* Add font */
@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --first-color: #152737;
    --second-color: #2a6296;
    --third-color: #2c6098;
    --forth-color: #dfdfe2;
    --fifth-color: #83B2D3;
    --sixth-color: #112A62;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #152737, #335371);
    margin: auto;
    padding: auto;
}

/* Header */
header {
    width: 100%;
    height: 50px;
    background-color: var(--first-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    border-bottom: #dfdfe2 1px solid;
}
  
nav {
    width: 100%;
    max-width: 600px;
    height: 50px;
    margin: 0 auto;
}
  
nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
}
  
nav > ul > li {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: medium;
    font-size: 15px;
    color: #dfdfe2;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
}
  
nav > ul > li:hover {
    text-decoration: underline;
    color: white;
    cursor: pointer;
    font-weight: 500;
}
  
li > a {
    color: inherit;
    text-decoration: none;
}

.space{
    height: 150px;

}

/* General */
h2{
    color: white;
    font-size: 68px;
    font-family: "Hanuman", sans-serif;
    font-weight: 900;
    text-align: center;
    text-shadow: 4px 4px #485F7B;
    margin: 20px 0 55px 0;
}

.content {
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Shorten URL Page */
.formLinkInput{
    position: relative;
    display: flex;
    max-width: 800px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.linkInput{
    width: 600px;
    height: 45px;
    background-color: aliceblue;
    border: none;
    color:#152737;
    font-family: "Hanuman", sans-serif;
    font-size: 15px;
    font-weight: 500;
    border-radius: 15px;
    padding-left: 15px;
}

.linkInput::placeholder{
    color: #617e97;
}

.linkInput:focus{
    outline: none;
}

.linkButton{
    width: 120px;
    height: 47px;
    background-color: var(--third-color);
    color: white;
    font-family: "Hanuman", sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    margin-left: 10px;
    cursor: pointer;
}

.linkButton:hover{
    font-weight: 600;
}

.urlOutputModal{
    position: relative;
    top: 0;
    display: none;
}

.urlOutput{
    width: 731px;
    height: 100px;
    background-color: var(--fifth-color);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    margin: 30px auto;
    padding-left: 15px;
    box-shadow: 4px 4px #152737;
    overflow: hidden;
}

.urlOutput > p{
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-family: "Hanuman", sans-serif;
    font-weight: 600;
    margin: 8px 0 0 10px;
}

.urlOutput > p > #shortenedLink {
    color: var(--first-color);
    font-size: 18px;
    font-family: "Hanuman", sans-serif;
    font-weight: 550;
    margin: 5px 0 0 0;
}

.urlOutput > p > #shortenedLink:hover{
    cursor: pointer;
    color: var(--second-color);
}

#unshortenedLink {
    color: var(--sixth-color);
    font-size: 15px;
    font-family: "Hanuman", sans-serif;
    font-weight: 550;
    margin-left: 10px;
    flex-basis: 90%;
    margin-bottom: 10px;
}

#unshortenedLink:hover{
    cursor: pointer;
    color: var(--third-color);
}

.logo{
    margin-right: 12px;
    display: inline-flex;
}

.bx{
    font-size: 28px;
    margin: 5px;
}

.bx-x{
    font-size: 30px;
    margin-right: 0px;
}

.bx-qr{
    margin-left: 10px;
}

.bx:hover{
    cursor: pointer;
    color: var(--second-color);
}

/* QR Modal */
.qrModal{
    display: none;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.25);
}

.qrInner{
    width: 325px;
    height: 250px;
    position: relative;
    margin: auto;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    top: 280px;
}

.qrInner > .closeIconQR{
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 30px;
    color: var(--first-color);
    margin: 5px;
    cursor: pointer;
}

.qrInner > img{
    width: 175px;
    height: 175px;
    display: block;
    margin: auto;
}

.qrInner > a{
    color: var(--first-color);
    font-size: 16px;
    font-family: "Hanuman", sans-serif;
    font-weight: 550;
    text-align: center;
    display: block;
}

.qrInner > .downloadIcon{
    position: absolute;
    bottom: 0;
    right: 5px;
    font-size: 30px;
    color: var(--first-color);
    margin: 5px;
    cursor: pointer;
}